body {
  margin: 0;
  font-family: 'monospace',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fontText, p, h1, h2, h3, h4{
  font-family: 'monospace'
}